{
  "branches": [
    {
      "name": "main",
      "prerelease": true
    },
    {
      "name": "release/*"
    },
    {
      "name": "semrel-stub"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}